<h1>Lake Data</h1>

<ul>
    {{#each quotes}}
    <li>
        <p><span class="label">ID:</span>{{id}}</p>
        <p><span class="label">ID:</span>{{lake}}</p>
        <p><span class="label">ID:</span>{{acres}}</p>
        <p><span class="label">ID:</span>{{yearStocked}}</p>
        <p><span class="label">ID:</span>{{cutNum}}</p>
    </li>
    {{/each}}
</ul>